<a href="https://colab.research.google.com/github/sasl09/PWSkills/blob/main/16th_February_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.-

-A database is a system that allows you to store and organize data in a certain way. Plus, it allows access to it.

-In SQL, data is stored in rows and tables that are linked in various ways. One table record may link to one other or to many others, or many table records may be related to many records in another table. These relational databases, which offer fast data storage and recovery, can handle great amounts of data and complex SQL queries.

-NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data.

# 2.-

-A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.

In [ ]:
# The CREATE TABLE command creates a new table in the database.

# The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

In [ ]:
# The ALTER TABLE command adds, deletes, or modifies columns in a table.

# The ALTER TABLE command also adds and deletes various constraints in a table.

# The following SQL adds an "Email" column to the "Customers" table:

ALTER TABLE Customers
ADD Email varchar(255);

In [ ]:
# The DROP TABLE command deletes a table in the database.

# The following SQL deletes the table "Shippers":

DROP TABLE Shippers;

In [ ]:
# The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

# The following SQL truncates the table "Categories": 

TRUNCATE TABLE Categories;

# 3.-

Data Manipulation Language (DML) is a class of SQL statements that are used to query, edit, add and delete row-level data from database tables or views. The main DML statements are SELECT, INSERT, DELETE, and UPDATE.

In [ ]:
# New records can be inserted into tables using an INSERT statement. 

INSERT INTO Course (CourseCode, Description, Fee) 
VALUES ('CR7531', 'Basketball', 25);

In [ ]:
# Records can be modified by using an UPDATE statement.

UPDATE Course
SET Fee = 25
WHERE Description = 'Tennis';

In [ ]:
# Data can be deleted from a table by using a DELETE statement.

DELETE FROM Member 
WHERE MemberId = '131092';

#4.-

Data Query Language (DQL) is used to fetch the data from the database. It uses only one command: SELECT. a. SELECT

In [1]:
# The SELECT statement is used to select data from a database.

# The data returned is stored in a result table, called the result-set.

# SELECT * FROM table_name;

# 5.-

-A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. 

-A foreign key is generally used to build a relationship between the two tables.

#6.-

In [6]:
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 73.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=2617b17627ab5e0e248709fbec9a175b030fe54f24347a47bbcca0bc810928be
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [8]:
import mysql.connector
mydb = mysql.connector.connect( #This is the object that will actually make a connection between this notebook and mysql
  host="localhost", #These are access credentials
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor() #This is the object that brings mysql to this notebook so that we can use it here
mycursor.execute("SHOW DATABASES") #Execute will perform actions passed as its parameters
for x in mycursor:
  print(x)

In [ ]:
#