<a href="https://colab.research.google.com/github/sasl09/PWSkills/blob/main/17th_February_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.-

-MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

-NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

# 2.-

1. Ad-hoc queries for optimized, real-time analytics

MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

2. Indexing appropriately for better query executions

Without the right indices, a database is forced to scan documents one by one to identify the ones that match the query statement. But if an appropriate index exists for each query, user requests can be optimally executed by the server. MongoDB offers a broad range of indices and features with language-specific sort orders that support complex access patterns to datasets.

3. Replication for better data availability and stability

Replication allows you to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers that house the same data (or shards of that same data) means greatly increased data availability and stability. Naturally, replication also helps with load balancing. When multiple users access the same data, the load can be distributed evenly across servers.

4. Sharding

When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.

5. Load balancing

Via horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access.

# 3.-

In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.3.0)

In [62]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://ebriosapiens:Iluminati09@cluster0.grhjwx6.mongodb.net/?retryWrites=true&w=majority") #Don't show these credentials. Password is here

In [63]:
#Create Database with client object (log in credentials of MongoDB acct)
db = client['ebriosapiens']

In [64]:
#Create a collection (equivalent to a table in sql, but not the same)
coll_create = db["my_record"]

In [65]:
data = {"name" : "Saul",
        "Ocupation" : "Data Scientist",
        "Age" : "37"
}

#4.-

In [66]:
#This will create one entry with one id for the whole dict we are adding
coll_create.insert_one(data)

In [67]:
#Insert many records
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" }
]

In [68]:
#This will create many entries with different ids for each item in our list of dicts
coll_create.insert_many(data2)

In [69]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f6b3785c9cffce74d8cf97'), 'name': 'Saul', 'Ocupation': 'Data Scientist', 'Age': '37'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf98'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9e'), 'name': 'Susan', 'address': 'One way 98'}

In [70]:
#If no input, it will find the first record
coll_create.find_one()

{'_id': ObjectId('63f6b3785c9cffce74d8cf97'),
 'name': 'Saul',
 'Ocupation': 'Data Scientist',
 'Age': '37'}

# 5.-

In [71]:
#You can use a for loop and find to show all records in collection
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f6b3785c9cffce74d8cf97'), 'name': 'Saul', 'Ocupation': 'Data Scientist', 'Age': '37'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf98'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9e'), 'name': 'Susan', 'address': 'One way 98'}

#6.-

The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.

The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order.

(db.student.find().sort({age:-1}))

In [83]:
#Print in desc order
for i in coll_create.find().sort('name', -1):
  print(i)

{'_id': ObjectId('63f6b37b5c9cffce74d8cf9e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f6b3785c9cffce74d8cf97'), 'name': 'Saul', 'Ocupation': 'Data Scientist', 'Age': '37'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf98'), 'name': 'Amy', 'address': 'Apple st 652'}

In [84]:
# or in asc order
for i in coll_create.find().sort('name', 1):
  print(i)

{'_id': ObjectId('63f6b37b5c9cffce74d8cf98'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f6b3785c9cffce74d8cf97'), 'name': 'Saul', 'Ocupation': 'Data Scientist', 'Age': '37'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9e'), 'name': 'Susan', 'address': 'One way 98'}

#7.-

In [88]:
#This will delete just the one entry with age:37
myQuery ={'Age':'37'}
d = coll_create.delete_one(myQuery)

print(d.deleted_count, " documents deleted !!")

1  documents deleted !!

In [90]:
#This will delete all entries where name starts with an "S"
query = {"name": {"$regex": "^S"}}
d = coll_create.delete_many(query)
 
print(d.deleted_count, " documents deleted !!")

2  documents deleted !!

In [91]:
#Print it all to confirm
for i in coll_create.find().sort('name', 1):
  print(i)

{'_id': ObjectId('63f6b37b5c9cffce74d8cf9c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf99'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f6b37b5c9cffce74d8cf9d'), 'name': 'Richard', 'address': 'Sky st 331'}

In [92]:
#Drop the whole collection in necessary
db["my_record"].drop()

In [93]:
#Print it all to confirm
for i in coll_create.find().sort('name', 1):
  print(i)